<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<div class="center">
<span>
<h1 class="central-text">
{{.}} пидор
</h1>
</span>
</div>
<div class="bottom-center">
<span><h1 class="bottom-text">
Powered by<a href="https://github.com/indigo-web/indigo"><img src="https://gist.githubusercontent.com/flrdv/ce40ce268917a47dc20aec4b5d3172cf/raw/c3f2efec5f71a78b045b52bab8276eb45e1af115/indigo-logo-compact.svg" class="logo"></a>
</h1></span>
</div>
</body>
